<div class="container">
  <h2 class="mt-5">商品</h2>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <%# @products.each do |product| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <%# end %>
      </tbody>
    </table>
</div>
