/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";


// header

header {
 margin-bottom: 50px;
}

header h1 a{
 font-family:"Trajan Pro";
 color: #a03c8b;
}

// 全体-----------

body{
 margin: 0;
 padding: 0;
 background-color:#FbF8F3;
 color:#a03c8b;
}

body a {
 color: #a03c8b;
}

body a:hover {
 text-decoration: none;
 color: #a03c8b;
}

h2, h3, h4, h5, h6 {
 font-weight: bold;
}

// table-thead

.table thead th {
 color: #a03c8b;
 border-top: 1px solid #a03c8b;
 border-bottom: 1px solid #a03c8b;
}

.table tbody td {
 color: #a03c8b;
 border-top: 1px solid #a03c8b;
 border-bottom: 1px solid #a03c8b;
}

// customer product table設定

.product thead th {
 border: 0px;
}


.product tbody td {
 border: 0px;
}

// image角丸み

.border-radius {
 border-radius: 6px;
}


// errormessage表示の設定

.field_with_errors {
  display: contents;
}


// footer

footer{
 height: 100px;
 width: 100% ;
 line-height: 100px;
}

